.Shop__Main {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.Shop__Grid {
    height: 100vh;
    position: relative;
    margin-top: 2rem;

    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (8, 1fr);
}

@media (max-width: 1280px) {
    .Shop__Grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .Shop__Grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .Shop__Main {
        margin-top: 0;
        margin-right: 2rem;
    }

    .Shop__Grid {
        grid-template-columns: 1fr;
    }
}