.itemCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 16rem;
  
    img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    button {
        justify-content: end;
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 1.1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #0056b3;
    }
}

@media (max-width: 768px) {
    .itemCard{
        width: 10rem;
    }
}

@media (max-width: 400px) {
    .itemCard{
        width: 8rem;
    }
}